* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100 px;
  background: linear-gradient(135deg, #6d5dfc, #46aef7);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.12);
  padding: 2rem;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
  color: #fff;
  width: 720px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.cell {
  font-size: 30px;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  grid-template-rows: repeat(3, 45px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.boardWon{
  display: block;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 125px;
}

.boardOfBoards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-bottom: 1.5rem;

}
.square {
  width: 45px;
  height: 45px;
  font-size: 40px;
  border: 8px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: #09bcf2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.square:hover {
  background: rgba(157, 46, 46, 0.898);
}

.square.filled {
  background: rgba(153, 54, 54, 0.2);
}

.restart-btn {
  background: #46aef7;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.restart-btn:hover {
  background: #2d8fe5;
}
